.footer-nav ul, .social-nav ul {
	display: flex;
	list-style-type: none;
	justify-content: center;
	
	li {
		padding: 0 1.4rem;
		margin: 0;
		@include font-size(1.6);
	}
}

.social-nav ul {

	margin-top: 2.4rem;

	li {
		@include font-size(1.8);
		padding: 0;
		border: 2px solid white;
		border-radius: 50%;
		position: relative;
		margin: 0 1rem;

		a {
			width: 54px;
			height: 54px;
			display: block;
		}

		i {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 2.4rem;
		}
	}
}

.footer-nav {
	margin: 3rem auto 1.4rem;
}

footer {
	p {
		text-align: center;
		@include font-size(1.4);
		font-weight: 600;
		color: #696969;
		margin-bottom: 6.5rem;
	}

	.btn {
		border: 3px solid white;
		display: inline-block;
	}

	.medium-container {
		padding: 0;
	}

	img {
		width: 102px;
	}
}

.footer-cta {
	padding: 8rem 0;
	
	.medium-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.newsletter p {
	@include font-size(1.8);
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: left;
	margin-bottom: 1rem;
}