.footer-nav ul, .social-nav ul {
	display: flex;
	list-style-type: none;
	justify-content: center;
	
	li {
		padding: 0 1.4rem;
		margin: 0;
		@include font-size(1.6);
	}
}

.social-nav ul {

	margin-top: 2.4rem;

	li {
		@include font-size(1.8);
		padding: 0;
		border: 2px solid white;
		border-radius: 50%;
		position: relative;
		margin: 0 1rem;

		a {
			width: 54px;
			height: 54px;
			display: block;
			z-index: 1;
			position: relative;
		}

		i {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 2.4rem;
		}
	}

	a {
        background-image: radial-gradient(circle at center , white 50%, transparent 50%);
        background-repeat: no-repeat;
        transition: background-size 0.3s, color 0.3s;
        background-size: 0 0;
        background-position: 50% 50%;
        border-radius: 50%;
    }

	a:hover {
	    background-size: 200% 200%;
	    color: $black;
	    border-radius: 50%;
	}
}

.footer-nav {
	margin: 3rem auto 1.4rem;
}

footer {
	p {
		text-align: center;
		@include font-size(1.4);
		font-weight: 600;
		color: #696969;
		margin-bottom: 6.5rem;
	}

	.medium-container {
		padding: 0;
	}

	img {
		width: 102px;
	}
}

.footer-cta {
	padding: 8rem 0;
	
	.medium-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.newsletter p {
	@include font-size(1.8);
	line-height: 1;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: left;
	margin-bottom: 0.7rem;
}