header {
	padding: 3.6rem 0;

	img {
		width: 84px;
		height: 79px;
		display: block;
	}
}

#site-navigation {
	font-weight: 400;
	
	ul {
		display: flex;
		list-style-type: none;
		justify-content: center;
		align-items: center;
	}

	li {
		animation: slidedowndelay 0.6s ease;
		text-transform: uppercase;
		padding: 0 2.25rem;
		margin-bottom: 0;

		a {
			display: block;
			position: relative;
		}

		a:after {
			content: '';
		    position: absolute;
		    height: 2px;
		    width: 0;
		    left: 0;
		    bottom: -2px;
		    background-color: white;
		    transition: all 0.3s ease;
		}

		&.nounderline {
			animation: slidedown 0.4s ease;
		}

		&.nounderline a:after {
			display: none;
		}

		a:hover {
			&:after {
				width: 100%;
			}
		}
	}

	.nav-cart-counter {
		display: inline-block;
		position: absolute;
		top: -16px;
    	right: -22px;
		text-align: center;
		font-size: 1.2rem;
		line-height: 2rem;
		color: #141414;
		background-color: white;
		min-width: 20px;
		height: 20px;
		padding: 0 6px;
		border-radius: 50px;
	}
}

@keyframes slidedown {
	0%   { opacity: 0; transform: translateY(-8px); }
  100%   { opacity: 1; transform: translateY(0); }
}

@keyframes slidedowndelay {
	0%   { opacity: 0; transform: translateY(-12px); }
	50%   { opacity: 0; transform: translateY(-12px); }
  100%   { opacity: 1; transform: translateY(0); }
}






