.main-navigation ul {
	display: flex;
	list-style-type: none;
	justify-content: center;
	align-items: center;

	li {
		text-transform: uppercase;
		padding: 0 2rem;
	}
}

header {
	padding: 3.6rem 0;

	img {
		width: 84px;
	}
}
