//IE 10 and 11 specific styles
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}

@media (max-width: 1259px) {
	.product-details-container.medium-container {
		max-width: 90%;
	}
}

@media (max-width: 1040px) {
	.challenge-cta {
		max-width: calc(100% - 4rem);
		margin-bottom: 10%;
	}
}
@media (max-width: 1023px) {
	.bordered,
	.details {
		padding: calc(2rem + 2%);
	}

	.home-challenge {
		margin-bottom: calc(5rem + 10%);

		.text-section-offset {
			padding-top: 22rem;
		}

		.large-container {
			margin-top: -11rem;
		}

		h3 {
			top: 26rem;
		}
	}

	.text-section-offset {
		width: 100%;
		margin-left: 0;
	}

	.about-what-we-do.text-section-offset {
	    padding-bottom: 0%;
	    margin-bottom: -5%;
	}

	.about-differentiators {
		h2 {
		    top: 7%;
		    left: 60%;
		}

		.container:nth-of-type(1) {
		    margin-left: 7%;
		}

		.container:nth-of-type(2) {
	    	margin-top: -35%;
	    }

	    .container:nth-of-type(4) {
		    margin-top: -30%;
		    right: 7% !important;
		}

		.container:nth-of-type(1), 
		.container:nth-of-type(4) {
		    width: 34.5%;
		}
	}


	.single-product {
		.small-container {
			max-width: 80rem;
		}

		.medium-container {
			max-width: 100rem;
		}
		
		.large-container {
			max-width: 120rem;
		}

		.small-container,
		.medium-container,
		.large-container {
			padding-left: 2rem;
			padding-right: 2rem;
		}
	}

	#product-details {
	    min-width: 26rem;
	    top: -12rem;
	    right: 2rem;
	}

	.product-container .offset {
	    width: calc(100% - 26rem - 20px);
	    padding-bottom: 0;
	}

	.product-explore .img-container {
		img {
			max-width: 100%!important;
		}
		p {
			position: static;
			transform: none;
			width: 100%;
			padding-left: 2rem!important;
			padding-right: 2rem;
			margin-top: 3rem;
		}
	}

	.product-dimensions {
		padding-bottom: 20%;
	}
	.product-craftsmanship {
		width: auto;
	}
	.product-designer {
		padding: 7%;

		.designer-details:nth-of-type(1) {
			padding-left: 0;
		}

		.details {
			max-width: none;
		}
	}

	.challenge-cta {
		margin-top: -4rem;
	}
}

@media (max-width: 999px) {
	.home-challenge {
		.text-section-offset {
			width: 90%;
		}
	}
}