//IE 10 and 11 specific styles
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}

@media (max-width: 1259px) {
	.product-details-container.medium-container {
		max-width: 90%;
	}
}

@media (max-width: 1040px) {
	.challenge-cta {
		max-width: calc(100% - 4rem);
		margin-bottom: 10%;
	}
}
@media (max-width: 1023px) {
	.bordered,
	.details {
		padding: calc(2rem + 2%);
	}

	.home-challenge {
		margin-bottom: calc(5rem + 10%);

		.text-section-offset {
			padding-top: 22rem;
		}

		.large-container {
			margin-top: -11rem;
		}

		h3 {
			top: 26rem;
		}
	}

	.text-section-offset {
		width: 100%;
		margin-left: 0;
	}

	.about-what-we-do.text-section-offset {
	    padding-bottom: 0%;
	    margin-bottom: -5%;
	}

	.about-differentiators {
		h2 {
		    top: 7%;
		    left: 60%;
		}

		.container:nth-of-type(1) {
		    margin-left: 7%;
		}

		.container:nth-of-type(2) {
	    	margin-top: -35%;
	    }

	    .container:nth-of-type(4) {
		    margin-top: -30%;
		    right: 7% !important;
		}

		.container:nth-of-type(1), 
		.container:nth-of-type(4) {
		    width: 34.5%;
		}
	}


	.single-product {
		.small-container {
			max-width: 80rem;
		}

		.medium-container {
			max-width: 100rem;
		}
		
		.large-container {
			max-width: 120rem;
		}

		.small-container,
		.medium-container,
		.large-container {
			padding-left: 2rem;
			padding-right: 2rem;
		}
	}

	#product-details {
	    min-width: 26rem;
	    top: -12rem;
	    right: 2rem;
	}

	.product-container .offset {
	    width: calc(100% - 26rem - 20px);
	    padding-bottom: 0;
	}

	.product-explore .img-container {
		img {
			max-width: 100%!important;
		}
		p {
			position: static;
			transform: none;
			width: 100%;
			padding-left: 2rem!important;
			padding-right: 2rem;
			margin-top: 3rem;
		}
	}

	.product-dimensions {
		padding-bottom: 20%;
	}
	.product-craftsmanship {
		width: auto;
	}
	.product-designer {
		padding: 7%;

		.designer-details:nth-of-type(1) {
			padding-left: 0;
		}

		.details {
			max-width: none;
		}
	}

	.challenge-cta {
		margin-top: -4rem;
	}
}

@media (max-width: 999px) {
	.home-challenge {
		.text-section-offset {
			width: 90%;
		}
	}
}

@media (max-width: 766px) {

	//HOME PAGE
	.hero-text .bordered {
		width: calc(100% - 4rem);
	}

	.home .hero {
		min-height: 65vh;
	}

	.home .hero .hero-text .bordered {
		margin-left: 0;
		position: absolute;
		bottom: -12rem;
	}

	.home-about {
		margin-top: 16rem;
	}

	.home-about-img {
		width: 100%;
	}

	.home-about-content {
		position: relative;
		bottom: 8rem;
	}

	.home-about-content .bordered {
		width: 100%;
	}

	.home-challenge {
		margin-top: 0;
		margin-bottom: 0;

		.text-section-offset {
			background-color: white;
			width: 100%;

			.btn {
				width: 100%;
				text-align: center;
			}
		}
	}



	.home-challenge .text-section-offset {
		padding: 0 2rem;
	}

	.home-challenge .large-container {
		margin-top: 8rem;
		background-color: $lightgrey;
		padding: 6rem 2rem;
	}

	.home-challenge .large-container div {
		width: 100%;
	}

	.home-challenge h3 {
		top: 12rem;
		left: 2rem;
	}

	.home-challenge ol.text-steps {
		display: block;
		width: 100%;
		margin: 0;

		li {
			width: 80%;
			margin: 2.4rem 0 2.4rem 20%;
			padding: 1.2rem 0rem 2.4rem 0rem;
		}

		span {
			padding: 0 1.2rem 2rem 0;
		}
	}

}


