//SITE WIDE STYLE HELPERS

p:empty,
.hidden {
	display: none;
}

.bordered {
	@include border-black;
	background: white;
	padding: 5rem;
}

.dark {	
	background-color: $black;
	color: white;

	p, h2 {
		color: white;
	}

	.bordered {
		border-color: white;
		background-color: $black;
	}

	.details {
		background-color: white;
		color: $black;
	}

	h3 {
		color: white;
	}
}

.white {
	color: white;
}

.small-container,
.medium-container, 
.large-container {
	padding: 10% 20px;
	width: 100%;
	margin: 0 auto;
}

.small-container {
	max-width: 800px;
}

.medium-container {
	max-width: 1000px;
}

.large-container {
	max-width: 1200px;
}

.blog .medium-container {
	padding-top: 0;
}

.details {
	background: $black;
	padding: 3.8rem;

	p, h3 {
		color: white;
	}

	p {
		margin-bottom: 0;
	}
}

.text-section-offset {
	width: 60%;
	max-width: 108rem;
	margin-left: 10%;
	background-color: $lightgrey;
	padding: 10rem;

	// h2 {
	// 	width: 30rem;
	// }

	.btn {
		display: inline-block;
	}
}

.hero {
	min-height: calc(85vh - 151px);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}

.hero-text {
	h1, h4, .bordered, p.animate, a.animate, .text-steps {
		transform: translateX(-24px);
		opacity: 0;
		transition: all 1.2s ease;

		&.animate-me {
			transform: translateX(0);
			opacity: 1;
		}
	}
}

.home .hero,
.single-product .hero {
	min-height: calc(100vh - 151px);
}
.hero-text .bordered {
	width: 36rem;
}

//SITE WIDE ANIMATIONS/TRANSITIONS

.slideright, .slideright-item {
	@include slideright-start; 

	&.animate-me {
		@include slideright-end;
	}
}

.slideleft, .slideleft-item {
	@include slideleft-start; 

	&.animate-me {
		@include slideleft-end;
	}
}

.slideup, .slideup-item {
	@include slideup-start; 

	&.animate-me {
		@include slideup-end;
	}
}

.slideupright, .slideupright-item {
	@include slideupright-start; 

	&.animate-me {
		@include slideupright-end;
	}
}

.slidedownright, .slidedownright-item {
	@include slidedownright-start; 

	&.animate-me {
		@include slidedownright-end;
	}
}

.slidedownright-2, .slidedownright-item-2 {
	@include slidedownright-start; 

	&.animate-me {
		@include slidedownright-end-2;
	}
}

.slideupleft, .slideupleft-item {
	@include slideupleft-start; 

	&.animate-me {
		@include slideupleft-end;
	}
}

.fadein, .fadein-item {
	@include fadein-start; 

	&.animate-me {
		@include fadein-end;
	}
}


//HOME PAGE
.home .hero {
	.hero-text {
		.bordered {
			margin-left: 9rem;

			.btn {
				margin-bottom: 1rem;
			}
		}

		small {
			@include font-size(1.1);
		}
	}

	// h1 {
	// 	width: 60%;
	// }
}

.text-steps {
	@include font-size(1.4);
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;

	li {
		width: calc(50% - 4.8rem);
		border-top: 8px solid $black;
		margin: 2.4rem;
		padding-top: 1.2rem;
	}

	span {
		@include font-size(4.2);
		@include line-height(4.2);
		font-weight: bold;
		display: block;
		float: left;
		height: 100%;
		padding: 0 1.2rem 0 0;
		color: $black;
	}
}


.home-slider, .slide {
	position: relative;
}
.home-slider {
	.slider-nav {
		position: absolute;
	    width: 125px;
	    height: 60px;
		left: auto;
	    right: 6%;
	    top: 20%;
	}
	.slide-count {
		position: absolute;
		bottom: -3rem;
		right: 0;
		z-index: 1;
		text-shadow: 1px 1px rgba(255,255,255,0.5);
	}
	.home-slider-img {
		width: 90%;
		display: block;
		margin-right: auto;
		padding-top: 10%;

		img {
			display: block;
		}
		}
		.home-slider-content {
		// position: absolute;
		// z-index: 1;
		// bottom: -23rem;
		width: 41rem;
		margin-right: 17%;
		margin-left: auto;
		padding-top: 0;
		padding-bottom: 0;

		h2 {
			margin: 0 0 0 -1rem;
		}

		.bordered {
			margin-left: auto;
			width: 41rem;
		}
		}
		.slider-bottom {
		position: relative;
		z-index: 2;
		bottom: 23rem;
		margin-bottom: -40rem;
		}
}


.home-challenge {
	margin-top: 10%;
	margin-bottom: 10%;
	// position: relative;

	.medium-container,
	.large-container {
		padding: 0;
	}

	.large-container {
		margin-top: -25rem;

		div {
			position: relative;
			margin-left: auto;
			width: 60rem;
		}
	}

	.text-section-offset {
		width: 72%;
		padding: 12% 19% 20% 14%;
		margin-left: 0;
	}

	h3 {
		position: absolute;
		z-index: 2;
	    left: 4rem;
	    top: 48rem;
	    transform: rotate(-90deg);
	    transform-origin: top left;
	    line-height: 1;
	    margin: 0;
	}

	ol {
		max-width: 50rem;
    	margin-left: auto;
	}

	.full-collection {
		padding-top: 36rem;
	    padding-left: 8rem;

	    h2 {
	    	margin-bottom: 0;
	    }

	    .bordered {
	    	margin-left: 12rem;
	    	display: inline-block;

	    	h3 {
	    		position: relative;
	    		transform: none;
	    		left: auto;
	    		top: auto;
	    	}
	    }
	}
}

.home-blog {
	[class*=-container] {
		position: relative;
	}

	h2 {
		position: absolute;
	    z-index: 2;
	    margin-top: 4rem;
	    left: 15%;
	}

	.offset {
		max-width: 78rem;
	    position: relative;
	    margin-left: auto;
	}
	
	.home-blog-left {
		max-width: 43rem;
		// margin-left: 50%;
		// transform: translateX(-50%);
		// top: 0;
		img {
			display: block;
		}
	}

	.home-blog-right {
		position: absolute;
		z-index: 2;
		right: 0%;
		max-width: 40%;
		bottom: 0%;
	}
}

.home-challenge,
.home-blog {
	.btn:before {
		border: 3px solid $black;
	}
}

.home-about {
	background-color: $lightgrey;
	// padding: 5rem;

	[class*=-container] {
		padding: 6rem 20px;
	}
}

.home-about-content {
	display: flex;

	p {
		margin-bottom: 0;
		&:nth-of-type(1) {
			padding: 0 20px;
		}
		&:nth-of-type(2) {
			width: 40%;
			text-align: center;
		}
	}
	.btn {
		min-width: 15rem;
	}
}


//PRODUCT PAGE
.product-details-container {
	padding: 0;
	position: relative;
	left: 0;
	right: 0;
	z-index: 1;

	&.fixed {
		position: fixed !important;
		top: 223px !important;
	}
}

#product-details {
	position: absolute;
	top: -14rem;
    right: 0;
    min-width: 30rem;
	padding: 3rem 2rem;

    h3 {
		margin-bottom: 0;
    }

    // h4 {
    // 	margin-bottom: 1rem;
    // }

    .designer {
    	font-size: 1.4rem;
    	margin-bottom: 2rem;
    }

    .pricing {
    	font-weight: 600;
    	font-size: 1.8rem;
    	display: flex;
    	margin-bottom: 2rem;
    }
    .price {
    	flex-grow: 1;
    }
    .sale {
    	color: $red;
    	text-transform: uppercase;
    }
    .inventory-message {
    	font-size: 1.4rem;
    	margin-bottom: 2rem;
    	text-transform: uppercase;
    }

    img {
    	cursor: pointer;
    	display: block;
    }
}
.single-product {
	// h1 {
	// 	width: 20rem;
	// }
	
	.small-container {
		max-width: 55.5555%;
	}
	.medium-container {
		max-width: 69.4444%;
	}
	.large-container {
		max-width: 83.3333%;
	}
}

.product-container {
	position: relative;

	.offset {
		width: 62%;
		padding: 3rem 0;
	}
	.product-text {

		.social p {
			margin-bottom: 0;
		}

		width: 55%;
	}

	&.medium-container,
	&.large-container {
		padding-bottom: 0;
	}

	&.large-container {
		padding-top: 0;
		padding-left: 0;
	}
}

.product-360 {
	p {
		margin-top: 5rem;
		padding-left: 10%;
		padding-right: 10%;
	}

	.threesixty_images img {
		cursor: url(../images/plus-cursor.svg) 22 22, crosshair;
	}
}


.product-explore {
	.img-container {
		position: relative;
		margin-bottom: 10%;

		img {
			max-width: 56%;
			display: block;
			cursor: url(../images/plus-cursor.svg) 22 22, crosshair;
		}


		p {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			width: 35%;
			padding-left: 40px;
		}
	}

	.img-container:hover {
		.open {
			opacity: 1;
		}
	}

	.img-container:not(.hidden):nth-child(3n),
	.img-container:not(.hidden):nth-child(3n+1) {
		img {
			margin-left: auto;
		}
	}

	.img-container:not(.hidden):nth-of-type(3n+2) {
		img {
			max-width: 71%;
		}
		p {
			padding-left: 0;
			left: auto;
			right: 0;
		}
	}

	.open {
		position: absolute;
		top: 0;
		right: 0;
		width: 48px;
		height: 48px;
		opacity: 0;
		transition: all 0.3s ease;

		&:hover {
			cursor: pointer;
		}
	}

	.open:after, .open:before {
		content: '';
		width: 100%;
		height: 1px;
		background-color: $black;
		position: absolute;
		top: 50%;
	}

	.open:after {
		transform: rotate(90deg);
	}
}

//IE only
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.product-explore .img-container img {
		cursor: url('plus-cursor.cur'), crosshair;
	}

	.product-360 .threesixty_images img {
		cursor: url('plus-cursor.cur'), crosshair;
	}
}

//Edge only 
@supports (-ms-ime-align:auto) {

	.product-explore .img-container img {
		cursor: url('plus-cursor.cur'), crosshair;
	}

	.product-360 .threesixty_images img {
		cursor: url('plus-cursor.cur'), crosshair;
	}
}

.product-dimensions,
.product-craftsmanship,
.product-differentiators {
	padding-top: 0;
	position: relative;
}

.product-dimensions {
	.small-container,
	.medium-container {
		padding: 0;
		position: relative;
		z-index: 1;
	}

	.img-container {
		margin-top: -10%;

		img {
			max-width: 67%; //78rem;
			margin-left: auto;
			display: block;
		}
	}
}

.product-craftsmanship {
	width: 90%;
	margin-left: auto;
	margin-bottom: 10%;
	margin-top: 10%;
	position: relative;

	.inner {
		display: flex;
	}

	.flex-item {
		margin-left: 5%;

		&:nth-of-type(1) {
			width: 60%;
		}

		&:nth-of-type(2) {
			width: 95%;
		}
	}

	.medium-container {
		padding: 0;
		position: absolute;
		top: -14rem;
		z-index: 1;
	}
}

.social {
	display: flex;
	align-items: center;

	p {
		text-transform: uppercase;
		@include semi-bold;
		margin-right: 2.4rem;
	}

	.social-nav ul {
		margin-top: 0;

		li {
			background-color: white;

			a {
		        background-image: radial-gradient(circle at center , $black 50%, transparent 50%);
		        background-color: white;
		        border-color: $black;

		        @media all and (-ms-high-contrast:none) {
					&:hover {
						background-color: $black;
					}
				}
		    }

		    i {
		    	color: $black;
		    }

			a:hover {
			    color: white;

			    i {
			    	color: white;
			    }
			}
		}
	}
}

.product-differentiators {
	ul {
		display: flex;
		list-style: none;
	}
	li {
		margin: 0 5%;
	}
	h4 {
		line-height: 2.4rem;
    	margin-bottom: 1.2rem;
	}
}

.product-designer {
	width: 90%;
	background-color: $lightgrey;
	padding: 10%;


	.details {
		background: none;
		// padding: 3.8%;
		max-width: 60%;

		// h2 {
		// 	width: 15rem;
		// }

		p, h3 {
			color: $black;
		}
	}

	.designer-details {
		display: flex;

		img {
			width: 40%;
			align-self: baseline;
		}
		.pre-header {
			color: $grey;
			margin-bottom: 1.2rem;
		}
	}

	.designer-details:nth-of-type(1) {
		padding-left: 10%;
	}

	.designer-extras {
		display: flex;
    	margin: 10% 0 5% 20%;

		@-moz-document url-prefix() { 
			.container {
				display: table;
			}
		}

		.copy {
			flex-basis: 50%;

			p {
				margin: 5% 0 0 0;
			}
		}
		.image {
			margin-left: 5%;
			flex-basis: 50%;

			img {
				display: block;
			}
		}

		.container:nth-of-type(1) {
			padding-top: 4.8%;
		}
		.container:nth-of-type(2) {
			padding-top: 2.4%;
			padding-left: 4.8%;
		}

		.details {
			padding: 3.8% 0;
			max-width: 70%;
		}
	}
}

.challenge-cta {
	width: 100%;
	max-width: 100rem;
	margin: 0 auto;
	margin-top: -6rem;
	display: flex;
	align-items: center;
	margin-bottom: calc(-6rem + 10%);

	p {
		margin-bottom: 0;
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.btn {
		width: auto;
		min-width: 200px;
	}
}

.variant-attribute {
	display: flex;
	align-items: center;
	margin-bottom: 2.4rem;

	p {
		margin-bottom: 0;
		padding-right: 0.6rem;
	}

	ul {
		display: flex;
		list-style-type: none;
	}

	li {
		padding: 0.6rem;
		margin-bottom: 0;
	}

	img {
		width: 42px;
		padding: 6px;
		border-radius: 100%;
	}

	label > input { 
		visibility: hidden; 
		position: absolute; 
	}

	label > input:checked + img {
		border: 2px solid $black;
		padding: 4px;
	}

	label > input + img {
		border: 2px solid white;
		padding: 2px;
	}
}

//ABOUT PAGE
.page-about {
	.hero {
		background-position: top center;
	}
	.hero-text {
		padding-left: 18%;
		position: relative;
		z-index: 2;

		// h1 {
		// 	width: 35%;
		// }

		.bordered {
			margin-left: 8rem;
			
			p {
				margin-bottom: 0;
			}
		}
	}
}

.about-what-we-do {
	// h2 {
	// 	width: 17rem;
	// }
	max-width: 100%;
	padding: 10%;

	.small-container,
	.medium-container {
		padding-top: 0;
		padding-left: 0;
		padding-right: 0;
	}

	&.text-section-offset {
		padding-bottom: 32%;
		margin-bottom: -32%;
	}
}

.about-differentiators {
	position: relative;

	.inner {
		display: flex;
		flex-wrap: wrap;
	}

	h2 {
		position: absolute;
		z-index: 1;
		top: 2%;
    	left: 43%;
		// width: 17rem;
	}

	.container {
		width: 45%;
		
		.details {
			margin-top: -4.8rem;	
			position: relative;
			z-index: 1;		
		}

		&:nth-of-type(1), &:nth-of-type(4) {
			width: 28%;

			.details {
				max-width: 34.5rem;
			}
		}
		&:nth-of-type(2), &:nth-of-type(3) {
			.details {
				max-width: 40rem;
			}
		}

		&:nth-of-type(3), &:nth-of-type(4) {
			.details {
				margin-left: auto;
			}
		}

		&:nth-of-type(1) {
			margin-left: 17%;
		}
		&:nth-of-type(2) {
			margin-top: 15%;
			margin-bottom: 2rem;
			right: 0!important;
    		left: auto!important;
		}
		&:nth-of-type(3) {
			margin-top: 8%;
		}
		&:nth-of-type(4) {
			margin-top: 10%;
			right: 19%!important;
    		left: auto!important;
		}

	}
}

.about-process, .about-cofounders {

	h2 {
		margin-top: 0;
		margin-right: 6rem;
		margin-left: 6rem;
	}

	p {
		margin: 0 6rem 1.2rem 6rem; 
	}

	.bordered {
		text-align: left;

		p {
			margin: 0;
		}
	}
}

.about-process {
	margin-top: 10%;
	padding-left: 0;
	padding-right: 0;

	// h2 {
	// 	width: 23rem;
	// }
}

.about-cofounders {
	padding-bottom: 18rem;
}

.about-cofounders-lead {
	.medium-container {
		padding-bottom: 4rem;
	}

	// h2 {
	// 	width: 23rem;
	// 	margin-bottom: 0;
	// }
}

.about-cofounders-video {
	padding: 0 10%;
	max-width: 100%;

	.medium-container {
		padding: 0;
	}

	.text-section-offset {
		margin-left: 0;
		max-width: 100%;
		width: 75%;
		padding: 10% 0 0;
	}

	.about-video-container {
		background-color: #eee;
		padding-left: 10%;
		width: 90%;
	}
}

.about-cofounders-founders {
	position: relative;
	padding-top: 0;

	h3 {
		position: absolute;
		transform: rotate(-90deg);
		top: 60%;
		left: -6rem;
	}

	h4 {
		margin-bottom: 0;
		color: white;
	}
}

.video-wrap {
	background-color: $lightgrey;
}

.founder {
	display: flex;
	flex-wrap: wrap;
	align-items:flex-start;

	.details-container {
		width: 30%;
	}

	.details {
		display: inline-block;
		width: auto;
	}

	.bordered {
		transform: translateY(6rem);
		max-width: 36rem;
	}

	img {
		align-self: center;
		display: block;
	}

	p {
		margin-bottom: 0;
	}

	&:nth-of-type(1){
		margin-bottom: 12rem;

		.details {
			float: right;
		}

		.bordered {
			max-width: 48rem;
		}
	}

	&:nth-of-type(2){
		justify-content: flex-end;

		.details {
			order: 1;
			margin-right: auto;
		}

		.bordered {
			transform: translateY(18rem);
		}

		.details-container {
			order: 2;
		}
	}
}

.process-container {
	display: flex;
	margin: 0 6rem;

	.process-half {
		width: 50%;
	}

	.process-half:nth-of-type(1){

		.bordered {
			margin-left: auto;
		}

		.bordered:nth-of-type(1) {
			width: 80%;
			// border-bottom: 0;
		}

		.bordered:nth-of-type(3) {
			width: 60%;
			//border-top: 0;
		}
	}

	.process-half:nth-of-type(2){

		.bordered:nth-of-type(1) {
			margin-top: 10rem;
			// border-left: 0;
		}

		.bordered:nth-of-type(2) {
			width: 60%;
			// border-top: 0;
			// border-left: 0;
		}

		ul li {
			margin-left: 5.7rem;
			text-indent: -5.7rem;
		}
	}

	.bordered {
		width: auto;
		min-width: 30rem;
	}

	ul {
		li {
			list-style-type: none;
			@include font-size(1.6);
			margin-bottom: 0.6rem;
			 margin-left: 2rem;
    		text-indent: -2rem;
		}
	}
}


//CHALLENGE PAGE

.challenge-mood-board {
	.mood-board-description {
		width: 40%;
		position: absolute;
		right: 0;

		p:not(.pre-header) {
			margin-bottom: 0;
		}
	}

	.mood-board-description-mobile {
		display: none;
	}

	.img0 {
		margin-top: 16%;
	}
	.img1 {
		margin-top: 9%;
	}
}

.challenge-categories {
	width: 90%;
	background-color: #eee;
	padding: 12% 10% 7% 20%;
	position: relative;
	margin-top: -13%;

	ul {
		list-style-type: none;
		@include font-size(1.4);
	}

	li.icon {
		text-align: center;
		width: 54px;
		padding-bottom: 1.2rem;
   	 	margin: 0 auto;

		img {
			width: 100%;
		}
	}

	h3 {
		position: absolute;
		top: 18%;
		left: 18%;
		transform: rotate(-90deg);
		transform-origin: top left;
	}

	.header {
		text-transform: uppercase;
		font-weight: bold;
		@include font-size(1.8);
		color: $black;
	}

	p {
		text-align: center;
		margin-top: 2.4rem;
	}
}

.categories-inner {
	display: flex;
	justify-content: space-between;
	max-width: 960px;
	margin-left: auto;
	flex-wrap: wrap;
}

.page-design-challenge {
	.hero-text {
		padding-left: 5%;
		
		// h1 {
		// 	width: 60%;
		// }

		h4 {
			margin: 2.4rem 0 4.8rem 0;
		}

		p {
			@include semi-bold;
			margin-top: 1.2rem;

			.link {
				padding-bottom: 0.4rem;
			}
		}

		.btn:before {
			border: 3px solid $black;
		}
	}

	.process-half:first-of-type {

		.bordered:first-of-type {

			li:before {
				content: '+';
				padding-right: 1.2rem;
			}
		}

		.bordered:last-of-type {
			// border-top: 0;
			width: 50%;
		}
	}

	.process-half:last-of-type {
		// .bordered {
		// 	border-left: 0;
		// }
	}
}

.challenge-details {

	padding-top: 0;
	text-align: center;

	p {
		text-align: center;
		margin-top: 1.2rem;
		@include semi-bold;
		
		a {
			padding-bottom: 0.4rem;
	    	border-bottom: 2px solid black;
		}
	}

	a {
		margin: 0 auto;
	}

	.btn:before {
		border: 3px solid $black;
	}
}

.challenge-share {
	background-color: $lightgrey;
	padding: 12rem;

	h4 {
		text-align: center;
	}

	.social-nav ul li {
		border: 0;

		i {
			color: white;
		}
	}
}


.page-cart .medium-container,
.page-submit .large-container {
	padding: 12rem 20px;
}

.preorder-disclaimer {
	@extend .small-container;
	padding: 0;
	text-align: left;
}

/* SHOP */
// .page-shop #main {
// 	display: flex;
// }
#filters {
	padding-right: 2rem;
	position: absolute;
	left: 0;
	top: auto;

	&.fixed {
	    position: fixed !important;
	    left: 10% !important;
	}


	* {
		display: inline-block;
	}

	button {
		display: none;
	}
}

#filters, 
.item-info {
	a {
		position: relative;
		&:after {
			content: '';
		    position: absolute;
		    height: 1px;
		    width: 100%;
		    left: 0;
		    bottom: 2px;
		    background-color: $grey;
		    transform: scale(0, 1);
			transform-origin: right center;
			transition: transform 0.3s ease;
		}
		&.active, &:hover {
			&:after {
				transform: scale(1, 1);
				transform-origin: left center;
			}
		}		
		&.sale-filter {
			color: $red;

			&:after {
			    background-color: $red;
			}
		}
	}
}

#listing {
	position: relative;
	width: 90%;
	margin-left: auto;
	padding: 10% 0 0 20rem;
}
// .archive.page-shop #listing {
// 	padding: 10% 0 10% 20rem;
// }

.item {
	flex-basis: 50%;
	padding: 4%;
	margin-bottom: 10%;

	.item-image {
		position: relative;
		.sale-tag {
			position: absolute;
			top: 0;
			right: 0;
			z-index: 2;
			background-color: $red;
			padding: 4px 6px;
		}
		img {
			// position: absolute;

			&:nth-of-type(1) {
				display: inline;
			}
			&:nth-of-type(2) {
				display: none;
			}
			&:nth-of-type(3) {
				display: none;
			}
			&:nth-of-type(4) {
				display: none;
			}
			&:nth-of-type(5) {
				display: none;
			}
		}
		&:hover {
			img {
				&:nth-of-type(1) {
					display: none;
				}
				&:nth-of-type(2) {
					display: inline;
				}
				&:nth-of-type(3) {
					display: none;
				}
				&:nth-of-type(4) {
					display: none;
				}
				&:nth-of-type(5) {
					display: none;
				}
			}			
		}
	}
	.item-details {
		display: flex;
		justify-content: space-between;
	}
	.item-designer img {
		max-width: 7rem;
		border-radius: 100%;
	}
	.item-info {
		flex-grow: 1;
		margin: 0 1rem;

		h4 {
			font-size: 1.6rem;
			line-height: 2.4rem;
		}
		p {
			font-size: 1.4rem;
		}
	}
	.variant-attribute {
		display: block;
		margin-bottom: 0;
		li {
			padding: 0;
		}
		img {
		    width: 25px;
		    padding: 5px;
		    cursor: pointer;
		}
	}

	&:nth-of-type(2n) {
		transform: translateY(60%);
	}
	&:nth-last-child(1):nth-child(odd) {
		margin-bottom: 0;
	}
	&:nth-last-child(1):nth-child(even) {
		margin-bottom: 15%;
	}
}

.collection {
	position: relative;
	// margin-bottom: 10%;
	&:last-of-type {
		margin-bottom: 0;
	}
	.collection-about {
		position: absolute;
		left: -4rem;
		top: 0;
		z-index: 2;
	}
	.collection-description {
		max-width: 23rem;
	}
	.collection-hero {
		display: block;
	}
	.collection-items-container {
		width: 100%;
		padding-top: 5%;
	}
	.collection-items {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row-reverse;
		padding: 5% 20px;
	    width: 100%;
	    max-width: 140rem;
	    margin: 0 auto;
	}
}

.category {
	h3 {
		display: inline;
		margin-top: 20%;
	}

	.category-items {
		display: flex;
		flex-wrap: wrap;
		padding: 0 20px;
	    width: 100%;
	    max-width: 140rem;
	    margin: 0 auto;
	}
	
	.item {
		//.item:nth-of-type(n) {
		    transform: translateY(-60%);
		//}
		&:nth-of-type(1) {
			display: flex;
			justify-content: center;
			// align-items: center;
		}
		&:nth-of-type(1),
		&:nth-of-type(2n) {
			transform: translateY(0);
		}
	}
}


// BLOG PAGES

.blog {
	.post-summary {
		width: 100%;
		margin-top: 4%;
	}
	.post-image + .post-summary {
		width: 32%;
	}
	.post-image {
		width: 60%;
	}

	article {
		display: flex;
		justify-content: space-between;
		padding-bottom: 5%;

		h2 {
			@extend h3;
		}
		img {
			display: block;
		}

		&:nth-of-type(2n) {
			padding-left: 10rem;
		}

		&:nth-of-type(2n+1) {
			padding-right: 10rem;
			flex-direction: row-reverse;
		}

		&:not(:first-of-type) {
			button, .btn {
				position: relative;
				&:after {
					content: '';
				    position: absolute;
				    height: 1px;
				    width: 100%;
				    left: 0;
				    bottom: -2px;
				    background-color: $grey;
				    transform: scale(0, 1);
					transform-origin: right center;
					transition: transform 0.3s ease;
				}
				&.active, &:hover {
					&:after {
						transform: scale(1, 1);
						transform-origin: left center;
					}
				}
			}
		}
	}

	#main > article {
		&:first-of-type {
			flex-direction: column;
			align-items: left;
			padding: 10% 2rem 15%;
			// padding-left: 2rem;
			// padding-right: 10%;
			// padding-bottom: 10%;

			.post-summary {
				width: 33%;
				min-width: 30rem;
				background: $black;
				padding: 3%;
				flex-shrink: 0;
				display: none;
			}
			h2 {
				@extend h2;
				color: white;
			}
			.entry-content p {
				color: white;
			}
			.post-image {
				width: 75%;
				min-width: 60rem;
				flex-shrink: 0;
	    		align-self: flex-end;
			}
		}
	}

	#ajax-load-more {
		margin-bottom: 10%;
	}
	.alm-btn-wrap {
		text-align: center;
	}
}

.single-post {
	.post-content {
		position: relative;
		padding-top: 0;
		padding-bottom: 0;
		margin-top: -5%;

		h1 {
			@extend h2;
			width: 90%;
			color: white;
			padding: 5%;
			margin-bottom: 10%;
			background-color: $black;
		}

		h4 {
			@include line-height(4.8);
		}
	}

	h4 {
		@include line-height(2.4);
	}

	.post-navigation-container {
		padding-top: 5%;
		// padding-bottom: 5%;
	}
	.post-navigation {
		.nav-links {
			display: flex;
			justify-content: space-between;
		}
		.nav-next {
			text-align: right;
		}
		.nav-next,
		.nav-previous {
			max-width: 40%;
		}
	}
	.post-sidebar {
		position: absolute;
		top: 10%;
		left: -20rem;
		width: 20rem;
		
		li {
			margin-bottom: 0;
			list-style-type: none;
			@include font-size(1.4);
			@include line-height(2.4);
		}

		h4 {
			font-weight: normal;
		}

		.post-meta {
			text-transform: uppercase;
		}

		.social li {
			margin-bottom: 1rem;
		}
	}
}