// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Rem output with px fallback
@mixin line-height($sizeValue: 1) {
	line-height: ($sizeValue * 16) * 1px;
	line-height: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

@mixin border-black {
	border: 8px solid $black;
}

@mixin semi-bold {
	font-weight: 600;
}

@mixin slideright-start {
	transform: translateX(-24px);
	// margin-left: -24px;
	opacity: 0;
	transition: all 0.6s ease;
}

@mixin slideright-end {
	transform: translateX(0);
	// margin-left: 0;
	opacity: 1;
}

@mixin slideup-start {
	transform: translateY(24px);
	// margin-left: -24px;
	opacity: 0;
	transition: all 0.6s ease;
}

@mixin slideup-end {
	transform: translateY(0);
	// margin-left: 0;
	opacity: 1;
}

@mixin fadein-start {
	opacity: 0;
	transition: all 0.6s ease;
}

@mixin fadein-end {
	opacity: 1;
}


