// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 10) * 1px;
	font-size: $sizeValue * 1rem;
}

// Rem output with px fallback
@mixin line-height($sizeValue: 1) {
	line-height: ($sizeValue * 10) * 1px;
	line-height: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

@mixin border-black {
	border: 8px solid $black;
}

@mixin semi-bold {
	font-weight: 600;
}

@mixin slideright-start {
	transform: translateX(-24px);
	opacity: 0;
	transition: all 1.2s ease;
}

@mixin slideright-end {
	transform: translateX(0);
	opacity: 1;
}

@mixin slideleft-start {
	transform: translateX(24px);
	opacity: 0;
	transition: all 1.2s ease;
}

@mixin slideleft-end {
	transform: translateX(-8px);
	opacity: 1;
}

@mixin slideup-start {
	transform: translateY(24px);
	opacity: 0;
	transition: all 1.2s ease;
}

@mixin slideup-end {
	transform: translateY(0);
	opacity: 1;
}

@mixin slideupright-start {
	transform: translate(-24px,24px);
	opacity: 0;
	transition: all 1.2s ease;
}

@mixin slideupright-end {
	transform: translate(0px, -8px);
	opacity: 1;
}

@mixin slidedownright-start {
	transform: translate(-24px,-24px);
	opacity: 0;
	transition: all 1.2s ease;
}

@mixin slidedownright-end {
	transform: translate(0px, 8px);
	opacity: 1;
}

@mixin slideupleft-start {
	transform: translate(24px,24px);
	opacity: 0;
	transition: all 1.2s ease;
}

@mixin slideupleft-end {
	transform: translate(-8px, -8px);
	opacity: 1;
}


@mixin fadein-start {
	opacity: 0;
	transition: all 1.2s ease;
}

@mixin fadein-end {
	opacity: 1;
}


