button, .btn {
	background-color: $black;
	color: white;
	padding: 2rem 3rem;
	@include font-size(1.4);
	text-transform: uppercase;
	border: 0;
	display: inline-block;
	font-weight: 600;
	position: relative;
	z-index: 1;
	transition: color 0.2s ease-out
}

button:before, .btn:before {
	content: '';
	position: absolute;
	background: white;
	width: 0;
	bottom: 0;
	right: 0;
	top: 0;
	z-index: -1;
	transition: width 0.3s ease-out;
}

button:hover, .btn:hover {
	color: $black;

	&:before {
		width: 100%;	
		left: 0;
	}
}

footer {
	.btn {
		border: 3px solid white;
		display: inline-block;
	}
}

button {
	width: 100%;
}

.page-design-challenge .hero-text p .link, .challenge-details p .link {
	border-bottom: 0px;
}

.link {
	position: relative;
}

.link:before {
	content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: -2px;
    background-color: $black;
    transition: width 0.3s ease;
}

.link:hover {
	color: $black;

	&:before {
		width: 0;	
		right: 0;
		left: auto;
	}
}

@media (max-width: 1023px) {

	button, .btn {
		padding: 1.5rem 2rem;
	}
}




