button, .btn {
	background-color: $black;
	color: white;
	padding: 1.8rem 2.4rem;
	@include font-size(1.4);
	text-transform: uppercase;
	border: 0;
	display: inline-block;
	font-weight: 600;
}

button {
	width: 100%;
}