.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;

	img[class*="wp-image-"] {
		@include center-block;
	}

	.wp-caption-text {
		margin: 0.8075em 0;
	}
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;

	.gallery-columns-2 & {
		max-width: 50%;
	}

	.gallery-columns-3 & {
		max-width: 33.33%;
	}

	.gallery-columns-4 & {
		max-width: 25%;
	}

	.gallery-columns-5 & {
		max-width: 20%;
	}

	.gallery-columns-6 & {
		max-width: 16.66%;
	}

	.gallery-columns-7 & {
		max-width: 14.28%;
	}

	.gallery-columns-8 & {
		max-width: 12.5%;
	}

	.gallery-columns-9 & {
		max-width: 11.11%;
	}
}

.gallery-caption {
	display: block;
}

//IMAGE GALLERY

.image-gallery {
	padding: 2.4rem;
	display: none;
	height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: white;
    z-index: 100;

	.btn-prev, .btn-next {
		position: absolute;
		width: 60px;
		height: 60px;
		background-color: $black;
		cursor: pointer;
		top: 50%;
		transform: translateY(-50%);

		&:after {
			content: '';
			width: 24px;
			height: 24px;
			border-top: 2px solid white;
			border-left: 2px solid white;
			position: absolute;
			top: 30%;
		}
	}

	.btn-next {
		right: 0;

		&:after {
			transform: rotate(135deg);
			left: 20%;
		}
	}

	.btn-prev {
		left: 0;

		&:after {
			transform: rotate(-45deg);
			left: 40%;
		}
	}
}

.main-img {
	height: calc(100vh - 170px);
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	
	img {
		height: auto;
	    width: auto;
	    max-width: 100%;
	    max-height: 100%;
	}
}

.thumbnails {
	justify-content: center;
	display: flex;

	.thumbnail-img {
		margin: 1.2rem;
		position: relative;
		cursor: pointer;
		float: right;

		img {
			padding-bottom: 1.2rem;
			height: 10rem;
			width: auto;
		}
	}

	.thumbnail-img.active:after {
		content: '';
		width: 100%;
		height: 6px;
		bottom: 0;
		left: 0;
		position: absolute;
		background-color: $black;
	}
}

.main-container {
	width: 100%;
	padding: 0 10%;
	position: relative;
	display: table;
}

.close {
	position: absolute;
	top: 2.4rem;
	right: 2.4rem;
	width: 48px;
	height: 48px;
	z-index: 1;

	&:hover {
		cursor: pointer;
	}
}

.close:after, .close:before {
	content: '';
	width: 100%;
	height: 1px;
	background-color: $black;
	position: absolute;
	top: 50%;
}

.close:before {
	transform: rotate(135deg);
}

.close:after {
	transform: rotate(45deg);
}

//MASONRY
.masonry-gallery {
	z-index: 1;
}

.page-design-challenge {

	.grid-sizer {
		width: 10%;
	}

	.gutter-sizer {
		width: 5%;
	}

	.grid-item {
		width: 5%;
		margin-top: 5%;
		
		&.small {
			width: 10%;
		}
		&.medium {
			width: 25%;
		}
		&.large {
			width: 40%;
		}
	}
}

.page-about {
	.grid-sizer {
		width: 45%;
	}
	.gutter-sizer {
		width: 10%;
	}
}


/* #### Desktop Small (1024px) or Tablets Portrait or Landscape #### */
@media only screen and (max-width: 1024px), screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.page-about {
		.grid-sizer {
			width: 100%;
		}
		.gutter-sizer {
			width: 0;
		}
	}
}
