table {
	margin: 0 auto 1.5em;
	width: 100%;
    @include font-size(1.6);
}

th {
	@include font-size(1.8);
	text-transform: uppercase;
}

td {
	vertical-align: top;
}

th {
	text-align: left;
	font-weight: bold;
	border-bottom: 1px solid $black;
}

td, th {
	padding: 2.4rem 1.2rem;
}

td.right, th.right {
	text-align: right;
}

.product-title {
	@include semi-bold;
}

.variant-quantity input {
	font-size: 16px;
    width: 36px;
    text-align: center;
}

.cart-footer {
	text-align: right;
	padding: 6rem 0 0 0;

	.btn {
		padding: 2.2rem 3.2rem;
	}

	.btn-update-cart {
		padding: 2rem 3rem;
		background-color: white;
		color: $black;
		border: 3px solid $black;
	}

	.btn-update-cart:before {
		background: $black;
	}

	.btn-update-cart:hover {
		color: white;

		&:before {
			width: 100%;	
			left: 0;
		}
	}
}

.cart-subtotal {
	padding-bottom: 4.8rem;
}

.product-img {
	img {
		width: 160px;
		display: inherit;
	}
}

.cart-subtotal-amount {
	font-weight: normal;
	padding-left: 4.8rem;
}

.btn-update-cart {
	margin-right: 2.4rem;
}

.remove-line-item {
	position: relative;
	display: block;
	width: 36px;
	height: 36px;

	&:after, &:before {
		content: '';
		position: absolute;
		width: 36px;
		height: 1px;
		background-color: $black;
		top: 18px;
	}
}

.remove-line-item:before {
	transform: rotate(135deg);
}

.remove-line-item:after {
	transform: rotate(45deg);
	left: 0;
}

#cart {
	padding-top: 0;
}

@media only screen and (max-width: 600px), only screen and (max-device-width: 480px) and (orientation: portrait) {

	.remove-line-item {
		width: 20px;
		height: 20px;
	}

	.remove-line-item:after, .remove-line-item:before {
		width: 20px;
		top: 10px;
	}

	td:first-of-type {
		padding-left: 0;
	}

	td:last-of-type {
		padding-right: 0;
	}

	td {
		padding: 2rem 0.6rem;

		&.product-img img {
			width: 100px;
		}
	}

	.cart-footer .btn-update-cart:hover {
		color: $black;
	}

	.cart-footer .btn-update-cart:hover:before {
		width: 0;
	}

}











