/* Wufoo Form Styles */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,600,600i,700,700i');

html {
  font-size: 62.5%; }

body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #141414;
  letter-spacing: 1px; }

h1 {
  font-size: 108.8px;
  font-size: 6.8rem; }

h2 {
  font-size: 67.2px;
  font-size: 4.2rem;
  line-height: 67.2px;
  line-height: 4.2rem;
  margin-bottom: 2.4rem; }

h3 {
  font-size: 41.6px;
  font-size: 2.6rem;
  margin-bottom: 1.2rem; }

h4 {
  font-size: 28.8px;
  font-size: 1.8rem;
  font-weight: 600; }

p {
  margin-bottom: 1.2rem;
  font-size: 22.4px;
  font-size: 1.4rem;
  color: #141414; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

a {
  text-decoration: none;
  color: inherit; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }
